attrs==21.2.0
black==21.12b0
click==8.0.3
coverage==6.2
flake8==4.0.1
iniconfig==1.1.1
mccabe==0.6.1
mypy==0.920
mypy-extensions==0.4.3
numpy==1.21.4
packaging==21.3
pathspec==0.9.0
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
pygame==2.1.0
pyparsing==3.0.6
pytest==6.2.5
snowballstemmer==2.2.0
toml==0.10.2
tomli==1.2.3
typing-extensions==4.0.1
